# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore PyCharm settings
.idea/

# Ignore other build artifacts (adjust as needed)
dist/
build/
*.log
